@{ Layout = "_Layout"; }

<div class="jumbotron">
  <h1>Andrew and Jack's Shipping</h1>
  <p class="lead">Quality Shipping at an affordable price</p>
</div>
<div>
  <h2>Pricing:</h2>
  <h3>Small</h3>
  <p>Flat rate of $5.99 for packages under 20 cubic inches</p>
  <h3>Medium</h3>
  <p>$5.99 plus $1/lb for packages under 50 cubic inches</p>
  <h3>Large</h3>
  <p>$20.00 plus $3/lb for packages under 100 cubic inches</p>

  <h3>Calculate shipping cost with our calculator</h3>
  <a href="/parcels/new">/Calculate Shipping</a>
</div>
